[Unit]
Description=LED Controller Application
After=network.target

[Service]
User=radxa
WorkingDirectory=/home/radxa/git/radxa_led_controller
ExecStart=/home/radxa/git/radxa_led_controller/env/bin/python /home/radxa/git/radxa_led_controller/app.py
Restart=always

[Install]
WantedBy=multi-user.target
